%h1 Robinhood Dashboard
- if session[:robinhood_auth_token].present?
  .col-xs-12
    = link_to "Log out", logout_path
    %br
    %p Hi #{session[:robinhood_user]["first_name"]}! Here you can find information about your #{link_to "Robinhood", "https://robinhood.com/"} investments. Feel free to check how your portfolio is doing, get stock information, or place orders.

  = render "robinhood/quote_form"
  #portfolios{data: {behavior: "DeferredLoader", path: portfolios_path}}
  #positions{data: {behavior: "DeferredLoader", path: positions_path}}
  #orders{data: {behavior: "DeferredLoader", path: orders_path}}
- else
  = render "layouts/robinhood_login_form"