- if session[:robinhood_auth_token].present?
  #dashboard
    .col-md-10.content
      .row
        #markets{data: {behavior: "DeferredLoader", path: markets_path, refresh: 300}}
      .row
        #price-chart{data: {behavior: "DeferredLoader", path: price_chart_path(interval: "5minute", span: "day", type: "portfolio"), refresh: 300}}
      .row
        #portfolios{data: {behavior: "DeferredLoader", path: portfolios_path, refresh: 15}}
      %ul.nav.nav-tabs{data: {behavior: "SubMenu"}}
        %li.active{role: "presentation"}
          = link_to "Portfolio", "#", data: {target: "#positions"}
        %li{role: "presentation"}
          = link_to "Watchlist", "#", data: {target: ".dashboard-watchlist"}
      #positions.sub-menu-tab{data: {behavior: "DeferredLoader", path: positions_path, refresh: 20}}
      .row.dashboard-watchlist.sub-menu-tab
        #watchlist{data: {behavior: "DeferredLoader", path: watchlist_path, refresh: 20}}

  = javascript_include_tag "https://www.gstatic.com/charts/loader.js"
- else
  .container
    .row
      .col-xs-12
        %h1
          Say
          %span.text-success hello
          to your 
          %span.text-success portfolio.
        %p Log in to your #{link_to "Robinhood", "https://robinhood.com/"} account to access and manage your portfolio.
        = render "layouts/robinhood_login_form"