- if session[:robinhood_auth_token].present?
  #dashboard
    .col-md-2.no-padding
      .side-menu
        .wrapper
          .logo
            = link_to root_path do
              = image_tag asset_path("robinhood_logo")
          .main-menu
            .menu-item= link_to "Notifications", cards_path
            .menu-item= link_to "Orders", orders_path
            .menu-item= link_to "Dividends", dividends_path
            .menu-item= link_to "Transfers", transfers_path
            .menu-item= link_to "Log out", logout_path
    .col-md-10.content
      .row
        #markets{data: {behavior: "DeferredLoader", path: markets_path, refresh: 300}}
        %br
        %br
      #price-chart{data: {behavior: "DeferredLoader", path: price_chart_path(interval: "5minute", span: "day"), refresh: 300}}
      .row
        #portfolios{data: {behavior: "DeferredLoader", path: portfolios_path, refresh: 15}}
      .row
        .col-sm-4
          = render "robinhood/quote_form"
      .row
        #positions{data: {behavior: "DeferredLoader", path: positions_path, refresh: 20}}
      .row
        .col-xs-12
          %h2 Watchlist
        #watchlist{data: {behavior: "DeferredLoader", path: watchlist_path, refresh: 20}}
- else
  .container
    .row
      .col-xs-12
        %h1
          Say
          %span.text-success hello
          to your 
          %span.text-success portfolio.
        %p Log in to your #{link_to "Robinhood", "https://robinhood.com/"} account to access and manage your portfolio.
        = render "layouts/robinhood_login_form"