#dashboard
  - if session[:robinhood_auth_token].present?
    .row
      .col-md-5
        .affix.side-menu
          .wrapper
            .col-xs-5
              .logo
                = link_to root_path do
                  = image_tag asset_path("robinhood_logo")
              .main-menu
                .menu-item= link_to "Notifications", cards_path
                .menu-item= link_to "Orders", orders_path
                .menu-item= link_to "Dividends", dividends_path
                .menu-item= link_to "Transfers", transfers_path
                .menu-item= link_to "Log out", logout_path
            .col-xs-7
              = render "robinhood/quote_form"
              menu item
              %br
              menu item
              %br
              menu item
              %br
              menu item
              %br
              menu item
              %br
      .col-md-7.content
        .row
          #markets{data: {behavior: "DeferredLoader", path: markets_path, refresh: 300}}
          %br
          %br
        .row
          #portfolios{data: {behavior: "DeferredLoader", path: portfolios_path, refresh: 15}}
          %br
          %br
        .row
          #positions{data: {behavior: "DeferredLoader", path: positions_path, refresh: 20}}
        .row
          .col-xs-12
            %h2 Watchlist
          #watchlist{data: {behavior: "DeferredLoader", path: watchlist_path, refresh: 20}}
  - else
    .container
      .row
        .col-xs-12
          %h1 Say hello to your portfolio.
          %p Log in to your #{link_to "Robinhood", "https://robinhood.com/"} account to access and manage your portfolio.
          = render "layouts/robinhood_login_form"