- if session[:robinhood_auth_token].present?
  #dashboard
    .col-md-10.content
      .row
        #markets{data: {behavior: "DeferredLoader", path: markets_path, refresh: 60}}
      .row
        #price-chart{data: {behavior: "DeferredLoader", path: price_chart_path(interval: "5minute", span: "day", type: "portfolio"), refresh: 300}}
      .row
        #portfolios{data: {behavior: "DeferredLoader", path: portfolios_path, refresh: 15}}
      %ul.nav.nav-tabs{data: {behavior: "SubMenu"}}
        %li.active{role: "presentation"}
          = link_to "Portfolio", "#", data: {target: "#positions"}
        %li{role: "presentation"}
          = link_to "Watchlist", "#", data: {target: ".dashboard-watchlist"}
      #positions.sub-menu-tab{data: {behavior: "DeferredLoader", path: positions_path, refresh: 20}}
      .row.dashboard-watchlist.sub-menu-tab
        #watchlist{data: {behavior: "DeferredLoader", path: watchlist_path, refresh: 20}}

  = javascript_include_tag "https://www.gstatic.com/charts/loader.js"
- else
  .container
    .row
      .col-xs-12
        %h1
          Say
          %span.text-success hello
          to your 
          %span.text-success portfolio.
        %p Log in to your #{link_to "Robinhood", "https://robinhood.com/referral/benjamc331/"} account to access and manage your portfolio.
        = render "layouts/robinhood_login_form"
    %br
    %br
    .row
      .col-xs-12
        %h3 Disclaimer
        %p.small I am not affiliated with Robinhood or its associates. I am in no way responsible for any losses incurred through using this code or application. This app relies on Robinhood's unpublished, private API. It isn't recommended to use this since the API is private and can change unexpectedly at any time, and is not officially supported. Using any kind of unpublished API for investing is risky, and you should thoroughly review any code involving any kind of money or investment published on the web to ensure the creator isn't doing something malicious. It's your money, after all. Your safest bet is to use the official Robinhood phone app. Having said that, creating this app has been a lot of fun and I use it a lot more than I use the phone app.