.order
  %h3= stock_link order["instrument"]["symbol"]
  .status
    = order["state"].capitalize
  .order_date= DateTime.parse(order["updated_at"]).strftime("%b %e, %Y")
  .side= order["side"].capitalize
  - if order["state"] =~ /filled/i
    .price
      Price
      = price_display order["average_price"]
    .quantity
      = order["quantity"].to_i
      = "Share".pluralize(order["quantity"].to_i)
    .total
      Total
      = price_display(order["quantity"].to_i * order["average_price"].to_f)
  - elsif order["state"] =~ /(queued|unconfirmed)/i
    = link_to "Cancel", cancel_order_path(url: order["cancel"])

  - if false # debug
    .col-xs-12
      = order
