- price = order["average_price"] || order["price"]
.order
  %h3= stock_link order["instrument"]["symbol"]
  .total
    = price_display(order["quantity"].to_i * price.to_f)
  .side= order["side"].capitalize
  .order_date= DateTime.parse(order["updated_at"]).in_time_zone(user_timezone).strftime("%b %e %Y %l%P")
  .price
    = price_display price
    per share
  .quantity
    = order["quantity"].to_i
    = "Share".pluralize(order["quantity"].to_i)
  .status{class: order["state"] =~ /filled/i ? "text-success" : "text-danger"}
    = order["state"].capitalize
  .fees
    = price_display order["fees"]
    fee
  .cancel
    = link_to "Cancel", cancel_order_path(url: order["cancel"]) if order["cancel"].present?

  - if false # debug
    .col-xs-12
      = order
