- target = "#{side}#{symbol.gsub('.','')}"
.stop-deferred-loader= link_to side.capitalize, "#", data: {toggle: :modal, target: ".#{target}"}, class: "btn btn-default"

.modal.fade{role: "dialog", tabindex: "-1", class: target}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %h4.modal-title #{side.capitalize} #{symbol}

      #order-form{data: {behavior: "OrderForm", side: side, price: set_num_decimals(price)}, class: "order_form_#{target}"}
        = form_tag new_order_path, class: "form-inline" do
          = hidden_field_tag :symbol, symbol
          = hidden_field_tag :side, side

          .modal-body
            .row
              .col-xs-12
                %h5 Current price per share: #{price_display price}
            %br
            .row
              .col-xs-3
                .form-group
                  = label_tag "Order type"
                  = select_tag :type, options_for_select(["Market", "Limit", "Stop loss", "Stop limit"]), class: "form-control"
              .col-xs-9
                %p.order-description

            %br
            .row
              .col-xs-6
                .form-group
                  = label_tag "Number of shares"
                  = number_field_tag :quantity, 1, min: 1, class: "form-control"
              .col-xs-6
                .form-group
                  = label_tag "Price"
                  = number_field_tag :price, set_num_decimals(price), step: 0.01, min: 0.01, class: "form-control"
                  .market-placeholder
                    Best available
            %br
            .row
              .col-xs-6
                .form-group
                  = label_tag "Time in force"
                  = select_tag :time_in_force, options_for_select([ ["Good for day", "gfd"], ["Good til canceled", "gtc"] ]), class: "form-control"
              .col-xs-6
                .form-group
                  = label_tag "Stop price"
                  = number_field_tag :stop_price, set_num_decimals(price), step: 0.01, min: 0.01, class: "form-control"               

          .modal-footer
            %button.btn.btn-danger{"data-dismiss" => "modal", :type => "button"} Cancel
            = submit_tag "Place order", class: "btn btn-success", data: {confirm: "Are you sure you want to #{side} #{symbol}?"}