- price = order["average_price"] || order["price"]
.order
  %h3= stock_link order["instrument"]["symbol"]
  .total
    = price_display(order["quantity"].to_i * price.to_f)
  .side= order["side"].capitalize
  .order_date= DateTime.parse(order["updated_at"]).strftime("%b %e, %Y")
  .price
    = price_display price
    per share
  .quantity
    = order["quantity"].to_i
    = "Share".pluralize(order["quantity"].to_i)
  .status
    = order["state"].capitalize
  .cancel
    = link_to "Cancel", cancel_order_path(url: order["cancel"]) if order["cancel"].present?

  - if false # debug
    .col-xs-12
      = order
