#order-form
  = form_tag new_order_path, class: "form-inline" do
    .form-group
      = hidden_field_tag :symbol, symbol
      = hidden_field_tag :side, side
      = hidden_field_tag :price, set_num_decimals(price)
      - if side =~ /buy/i
        = number_field_tag :quantity, 1, min: 1, class: "form-control"
        = submit_tag "Buy", class: "btn btn-success", data: {confirm: "Are you sure you want to buy #{symbol}?"}
      - else
        = number_field_tag :quantity, 1, min: 1, max: num_shares, class: "form-control"
        = submit_tag "Sell", class: "btn btn-success", data: {confirm: "Are you sure you want to sell #{symbol}?"}
