.stop-deferred-loader= link_to side.capitalize, "#", data: {toggle: :modal, target: ".#{side}#{symbol.gsub('.','')}"}, class: "btn btn-default"

.modal.fade{role: "dialog", tabindex: "-1", class: "#{side}#{symbol.gsub('.','')}"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %h4.modal-title #{side.capitalize} #{symbol}

      #order-form
        = form_tag new_order_path, class: "form-inline" do
          = hidden_field_tag :symbol, symbol
          = hidden_field_tag :side, side

          .modal-body
            .row
              .col-xs-6
                .form-group
                  = label_tag "Number of shares"
                  = number_field_tag :quantity, 1, min: 1, class: "form-control"
              .col-xs-6
                .form-group
                  = label_tag "Price"
                  = number_field_tag :price, set_num_decimals(price), step: 0.01, min: 0.01, class: "form-control"

          .modal-footer
            %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Cancel
            = submit_tag "Place order", class: "btn btn-default", data: {confirm: "Are you sure you want to #{side} #{symbol}?"}