%h2 Portfolios
- @portfolios.each do |p|
  .value
    Total value
    = price_display(p["extended_hours_equity"] || p["equity"])
  .return
    Daily change
    = change_display p["equity_previous_close"], p["equity"]
  .cash
    Cash
    = price_display p["unwithdrawable_deposits"]
  - if false # debug
    %ul
    - p.each do |k,v|
      %li= "#{k}: #{v}"