- @portfolios.each do |p|
  .col-xs-6.col-sm-4.value
    .subtext Total value
    %h3= price_display(p["extended_hours_equity"] || p["equity"])
  .col-xs-6.col-sm-4.return
    .subtext Today
    %h3{class: "text-" + up_down(p["adjusted_equity_previous_close"], p["equity"])}
      = change_display p["adjusted_equity_previous_close"], p["equity"]
  .col-xs-6.col-sm-4.cash
    .subtext Buying power
    %h3= price_display @accounts.map{|a| a["buying_power"]}.sum
  - if false # debug
    %ul
    - p.each do |k,v|
      %li= "#{k}: #{v}"