.row
  .col-xs-12
    %h2 Investments
  - @investments.each do |symbol,data|
    .col-xs-4.col-sm-3
      .investment
        %h3= google_stock_link symbol
        - price = data["last_extended_hours_trade_price"] || data["last_trade_price"]
        .price
          Price
          = price_display price
        .change
          Change
          %span{class: up_down(data["previous_close"], data["last_trade_price"])}
            = change_display(data["previous_close"], data["last_trade_price"])
        .num-shares
          Number of shares
          = data["quantity"].to_i
        .value
          Value
          = price_display(data["quantity"].to_i * price.to_f)
  - if false #debug
    .col-xs-12
      %ul
        - @positions.each do |k,v|
          %li= "#{k}: #{v}"
        - session[:robinhood_accounts].each do |k,v|
          %li= "#{k}: #{v}"
        - @instruments.each do |k,v|
          %li= "#{k}: #{v}"
        - @quotes.each do |k,v|
          %li= "#{k}: #{v}"