.row
  #fundamentals-tooltip-loader{data: {behavior: "FundamentalsTooltip"}}
  .col-xs-12
    %table.table
      %tr
        %th Symbol
        %th Shares
        %th Value
        %th Today's return
        %th Return
        %th Return with sells
        %th Price/Share
        %th Sell
      - @investments.each do |symbol,data|
        - num_shares = data["quantity"].to_i
        %tr.investment
          %td= stock_link(symbol, {class: "symbol", data:{ html: true, placement: :right}})
          %td.num-shares= num_shares
          %td.value
            = price_display data["value"]
          %td.change{class: "text-" + up_down(0, data["todays_return"])}
            = change_display(data["current_price"]*num_shares - data["todays_return"], data["current_price"]*num_shares)
          %td.return-held-shares{class: "text-" + up_down(0, data["shares_held_return"])}
            = change_display(data["shares_held_cost"], data["shares_held_cost"] + data["shares_held_return"])
          %td.return-all-time{class: "text-" + up_down(0, data["all_time_return"])}
            = price_display data["all_time_return"]
          %td= price_display data["current_price"]
          %td= render "robinhood/order_form", symbol: data["symbol"], side: :sell, price: data["current_price"], num_shares: num_shares

  - if false #debug
    .col-xs-12
      %ul
        - @positions.each do |k,v|
          %li= "#{k}: #{v}"
        - @accounts.each do |k,v|
          %li= "#{k}: #{v}"
        - @instruments.each do |k,v|
          %li= "#{k}: #{v}"
        - @quotes.each do |k,v|
          %li= "#{k}: #{v}"
        - @orders.each do |k,v|
          %li= "#{k}: #{v}"