%h2 Investments
- @investments.each do |symbol,data|
  .investment
    %h3= symbol
    .price
      Price
      = price_display data["last_trade_price"]
    .change
      Change
      = change_display data["previous_close"], data["last_trade_price"]
    .num-shares
      Number of shares
      = data["quantity"].to_i
    .value
      Value
      = price_display(data["quantity"].to_i * data["last_trade_price"].to_f)
- if true #debug
  %ul
    - @positions.each do |k,v|
      %li= "#{k}: #{v}"
    - @accounts.each do |k,v|
      %li= "#{k}: #{v}"
    - @instruments.each do |k,v|
      %li= "#{k}: #{v}"
    - @quotes.each do |k,v|
      %li= "#{k}: #{v}"