#fundamentals-tooltip-loader{data: {behavior: "FundamentalsTooltip"}}
.col-xs-12
  %table.table
    %tr
      %th Symbol
      %th Shares
      %th Value
      %th Today's return
      %th Return
      %th Price/Share
      %th Sell
    - @investments.each do |symbol,data|
      - num_shares = data["quantity"].to_i
      %tr.investment
        %td= stock_link(symbol, {class: "symbol", data:{ html: true, placement: :right}})
        %td.num-shares= num_shares
        %td.value
          = price_display data["value"]
        %td.change{class: "text-" + up_down(0, data["todays_return"])}
          = change_display(data["current_price"]*num_shares, data["current_price"]*num_shares + data["todays_return"])
        %td.return-to-date{class: "text-" + up_down(0, data["overall_return"])}
          = change_display(data["purchase_cost"], data["value"] + data["amount_sold"])
        %td= price_display data["current_price"]
        %td= render "robinhood/order_form", symbol: data["symbol"], side: :sell, price: data["current_price"], num_shares: num_shares

- if false #debug
  .col-xs-12
    %ul
      - @positions.each do |k,v|
        %li= "#{k}: #{v}"
      - session[:robinhood_accounts].each do |k,v|
        %li= "#{k}: #{v}"
      - @instruments.each do |k,v|
        %li= "#{k}: #{v}"
      - @quotes.each do |k,v|
        %li= "#{k}: #{v}"
      - @orders.each do |k,v|
        %li= "#{k}: #{v}"