.row
  #fundamentals-tooltip-loader{data: {behavior: "FundamentalsTooltip"}}
  #sortable-tables{data: {behavior: "SortableTables"}}
  #hide-on-click{data: {behavior: "HideOnClick"}}
  .col-xs-12
    - @stock_lists.each do |list|
      %div{class: "list-#{list.id}"}
        - if list.name.present?
          %h4
            = list.name
            %small
              = link_to "x", delete_stock_list_path(id: list.id), remote: true, class: "hide-on-click", data: {target: ".list-#{list.id}"}
        %table.table.sortable-table{data: {id: list.id, sort_target: ".investment"}}
          %tr
            %th Symbol
            %th Shares
            %th Value
            %th Today's return
            %th Return
            %th Return with sells
            %th Price/Share
            %th Sell
          - list.instruments.each do |instrument|
            - symbol = instrument.symbol
            - data = @investments[symbol]
            - next unless data.present?
            - num_shares = data["quantity"].to_i
            %tr.investment.fundamentals-tooltip{data: {instrument_id: instrument.id}}
              %td= stock_link(symbol, {class: "symbol", data:{ html: true, placement: :right}})
              %td.num-shares= num_shares
              %td.value
                = price_display data["value"]
              %td.change{class: "text-" + up_down(0, data["todays_return"])}
                = change_display(data["current_price"]*num_shares - data["todays_return"], data["current_price"]*num_shares)
              %td.return-held-shares{class: "text-" + up_down(0, data["shares_held_return"])}
                = change_display(data["shares_held_cost"], data["shares_held_cost"] + data["shares_held_return"])
              %td.return-all-time{class: "text-" + up_down(0, data["all_time_return"])}
                = price_display data["all_time_return"]
              %td= price_display data["current_price"]
              %td= render "robinhood/order_form", symbol: data["symbol"], side: :sell, price: data["current_price"], num_shares: num_shares

  .col-xs-12
    = render "stock_list_form", group: :portfolio

    %br
    %br
    %br
    %br

  - if false #debug
    .col-xs-12
      %ul
        - @positions.each do |k,v|
          %li= "#{k}: #{v}"
        - @accounts.each do |k,v|
          %li= "#{k}: #{v}"
        - @instruments.each do |k,v|
          %li= "#{k}: #{v}"
        - @quotes.each do |k,v|
          %li= "#{k}: #{v}"
        - @orders.each do |k,v|
          %li= "#{k}: #{v}"