.col-xs-12
  - target = SecureRandom.hex(4)
  .price-chart{data: {behavior: "LineChart", chart: @chart_data.to_json, target: ".#{target}"}}
    .chart-placeholder{class: target}
.col-xs-12
  #chart-controls
    Chart range:
    %span{data: {behavior: "DeferredLoader", path: price_chart_path(interval: "5minute", span: "day", type: "portfolio"), target: "#price-chart", trigger: "click"}}
      = link_to "Day", "#"
    %span{data: {behavior: "DeferredLoader", path: price_chart_path(interval: "10minute", span: "week", type: "portfolio"), target: "#price-chart", trigger: "click"}}
      = link_to "Week", "#"
    %span{data: {behavior: "DeferredLoader", path: price_chart_path(interval: "day", span: "month", type: "portfolio"), target: "#price-chart", trigger: "click"}}
      = link_to "Month", "#"
    %span{data: {behavior: "DeferredLoader", path: price_chart_path(interval: "day", span: "year", type: "portfolio"), target: "#price-chart", trigger: "click"}}
      = link_to "Year", "#"
    %span{data: {behavior: "DeferredLoader", path: price_chart_path(span: "all", type: "portfolio"), target: "#price-chart", trigger: "click"}}
      = link_to "All", "#"
