.row
  = render "robinhood/quote_form"
.col-xs-12
%br
#back= link_to "Back", root_path, class: "btn btn-default"
.row
  - @quotes.each do |quote|
    - price = quote["last_trade_price"]
    .col-sm-4
      %h3= stock_link quote["symbol"]
      Current price
      = price_display price
      = form_tag new_order_path, class: "form-inline" do
        .form-group
          = hidden_field_tag :symbol, quote["symbol"]
          = hidden_field_tag :side, @side
          = hidden_field_tag :price, set_num_decimals(price)
          - if @side.nil? || @side =~ /buy/i
            = number_field_tag :quantity, 1, min: 1, class: "form-control"
            = submit_tag "Buy", class: "btn btn-success", data: {confirm: "Are you sure you want to buy #{quote['symbol']}?"}
          - else
            = number_field_tag :quantity, 1, min: 1, max: @investments[quote["symbol"]]["quantity"],class: "form-control"
            = submit_tag "Sell", class: "btn btn-success", data: {confirm: "Are you sure you want to sell #{quote['symbol']}?"}

      - if false # debug
        = @quotes
  - if @quotes.empty?
    .col-xs-12
      Sorry, no quotes were found for "#{params["symbols"]}".
